@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0 !important;
    margin: 0 !important;
    @apply font-primary;
    @apply text-dark-900 bg-primary-500;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../public/fonts/JosefinSans/JosefinSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../public/fonts/JosefinSans/JosefinSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../public/fonts/JosefinSans/JosefinSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../public/fonts/JosefinSans/JosefinSans-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../public/fonts/JosefinSans/JosefinSans-ExtraLightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../public/fonts/JosefinSans/JosefinSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../public/fonts/JosefinSans/JosefinSans-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../public/fonts/JosefinSans/JosefinSans-LightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../public/fonts/JosefinSans/JosefinSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../public/fonts/JosefinSans/JosefinSans-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../public/fonts/JosefinSans/JosefinSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../public/fonts/JosefinSans/JosefinSans-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../public/fonts/JosefinSans/JosefinSans-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../public/fonts/JosefinSans/JosefinSans-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/* Loading ring animation */
.loader {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    border-top: 2px solid #fff;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-dark {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    border-top: 2px solid #444;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/**************************************************************************/
/************************    React Datepicker   ***************************/
/**************************************************************************/
.react-datepicker {
    @apply rounded-md border-2 border-primary-500 overflow-hidden !important;
}

.react-datepicker__header {
    @apply rounded-sm;
}

.react-datepicker__day:hover,
.react-datepicker__time-list-item:hover {
    @apply bg-primary-600 text-light-100 !important;
}

.react-datepicker__input-container > input {
    @apply w-full focus:ring-primary-500 focus:border-primary-500 block pl-10 py-[16px] rounded-xl text-sm border shadow-md border-dark-500 text-dark-500 transition duration-300 cursor-pointer !important;
}

.react-datepicker__input-container > input:focus {
    outline: none;
    border: 2px solid #6cc027;
}

.react-datepicker__day--selected {
    @apply bg-primary-600 !important;
}

.react-datepicker__navigation-icon {
    @apply text-primary-600 !important;
}

.selectField {
    width: 80px;
    padding: 16px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background-image: url('https://www.svgrepo.com/show/80156/down-arrow.svg');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 56px;
}

canvas,
#qr-code svg {
    border-radius: 20px;
}

/**************************************************************************/
/******************************    Radio   ********************************/
/**************************************************************************/

input[type='checkbox']:checked + label > span {
    background-color: #3b76ef;
    box-shadow: 0px 0px 0px 2px white inset;
}

input[type='checkbox'] + label > span {
    border: 2px solid #86a6e7;
}
